body.en {
  font-family: "Fjalla One", sans-serif, Georgia, "Times New Roman";
}

body.he {
  font-family: "Open Sans Hebrew";
}

body {
  display : flex;
  justify-content: center;
}

#page {
  min-width: 32ex;
  max-width: 100%;
  background-color: #eee;
  padding: 2ex 1%;
}

/* pager */

nav.pager {
  background-color: #eee;
  clear: both;
}

nav.pager header {
  font-weight: bold;
  float: left; /*RTL*/
}

nav.pager ul {
  margin: 0;
  padding: 0;
}

nav.pager ul li {
  display: inline;
  padding: 0 5px;
}
