body.en {
  font-family: "Fjalla One", sans-serif, Georgia, "Times New Roman";
}

body.he {
  font-family: "Open Sans Hebrew";
}

#page {
  background-color: #eee;
}

@media (min-width: 621px) {
  body {
    font-size:16px;
    display : flex;
    justify-content: center;
  }
  #page {
    width: 70%;
    padding: 0;
    padding: 2ex 1%;
  }
}

@media (max-width: 620px) {
  body {
    font-size:12px;
  }
  #page {
    width: 100%;
    padding: 0;
  }
}



/* pager */

nav.pager {
  background-color: #eee;
  clear: both;
}

nav.pager header {
  font-weight: bold;
  float: left; /*RTL*/
}

nav.pager ul {
  margin: 0;
  padding: 0;
}

nav.pager ul li {
  display: inline;
  padding: 0 5px;
}
