form label {
  display: block;
  font-weight: bold;
}

form button, 
form input,
form textarea {
  background-color: #151f2c;
  color: green;
  border-radius: 10px;
  padding: 1em;
  font-size: 1em;
}

form button {
  padding: 1% 2%;
  font-size: 1.2em;
}
