section.list {
  clear: both;
}

section.list header {
  clear: both;
}
section.list ul.top {
  list-style: none;
  padding: 0;
  min-width: 50%;
  float: left;
}

section.list ul.top > li {
  padding: 6px;
  margin: 2px 0;
  border-radius: 8px;
}

section.list ul.top > li:nth-child(even) {
  background-color: #ddd;
}

section.list ul.top > li:nth-child(odd) {
  background-color: #bbb;
}

section.list li a {
  font-size: 18px;
  font-weight: bold;
}

section.article-view {
  clear: both;
}
