{% extends "base.html" %}
{% load i18n %}

{% block body %}
  <ul>
    {% url 'first:view' object.pk as first_url %}
    <li> <a href="{{ first_url }}edit"> Edit </a> </li>
    <li> <a href="{{ first_url }}delete"> Delete </a>  </li>
    <li> <a href="{% url 'first:list' %}"> List </a>  </li>
  </ul>
  <ul>
    {% for code, name in language_switch %}
      {% language code %}
      <li>
        <a href="{% url 'first:view' object.pk %}"> {{ name }} </a>
      </li>
      {% endlanguage %}
    {% endfor %}
  </ul>
  <h1> {{ object.title }} </h1>
  <p> {{ object.body }} </p>
  <p> 
    {% trans "created on" %} : {{ object.created|date }} 
  </p>
  <p>
    {% trans "modified on" %} : {{ object.modified|date }} {{ object.modified|time }}
  </p>
  <p>
    ip : {{ object.ip }}
  </p>
  <p>
    {% trans "polygon" %} : {{ object.mpoly }}
  </p>
  <p>
    {% trans "geom type" %} : {{ object.mpoly.geom_type }}
  </p>
  <p>
    {% trans "type" %}: {{ type }}
  </p>
{% endblock body %}
