{% extends "base.html" %}

{% load static from staticfiles %}
{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}" />
{% endblock %}
{% block scripts %}
  {{ form.media }}
{% endblock %}

{% block body %}
  <h1 class="title"> First form </h1>
  <form action="{{ action }}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button> Save </button>
  </form>

  {% if jsconfig %}
  <script id="data" type="application/json"> 
    {{ jsconfig|safe }}
  </script>
  {% endif %}
{% endblock body %}

