{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {% block title %} django1 {% endblock %} </title>
  {% block styles %}
    <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/opensanshebrew.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
  {% endblock %}
  {% block scripts %}
  {% endblock %}
</head>
{% get_current_language as language_code %}
<body dir="{{ LANGUAGE_BIDI|yesno:"rtl,ltr" }}" class="{{ language_code }}">
  <div id="page">
  <header> <a href="/"> Homepage </a> </header>
    {% block body %}
    {% endblock %}
  </div>
  <!-- pre> {# % debug % #} </pre -->
  <pre> {{inspect}} </pre>
</body>
</html>
