{% extends "base.html" %}

{% load static %}
{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block body %}
  <h2> home </h2>
  <nav class="home">
    <section>
      <a href="{% url 'first:list' %}">
        <h3>first  application </h3>
      </a>
      <ul>
        <li> very basic implementation using generic views .
        <li> shows basic language translation implementation .
      </ul>
    </section>
    <section>
      <a href="{% url 'actors:list' %}">
        <h3>actors application </h3>
      </a>
      <ul>
        <li> implement relation between models .
        <li> using prefetch_related when displaying object listing to optimize databse access .
      </ul>
    </section>
    <section>
      <a href="{% url 'articles:list' %}">
        <h3> articles application </h3>
      </a>
      <ul>
        <li> implement multiple paragraph structure using formsets .
        <li> uses angularsjs to browse content in single page .
        <li> implements javascript for dragging article paragraphs in edit form .
      </ul>
    </section>
  </nav>
{% endblock body %}
